/*
fonts


font-family: 'Heebo', sans-serif;
font-family: 'Taviraj', serif;
*/

.custom-home-first{
    width: 100vw;
    height: 100vh;
    color: white;
    background-color: #0E0E0E;;
    margin: 0 0;
}
.col-sm img{
    width: 80% ;
    height: 70%;
}
.row h2{
    text-transform: capitalize;
}
.col-sm h3{
    text-transform: capitalize;
}
.row{
    margin-bottom: 30px !important;
}

.contact{
    width: 100vw !important;
    height: 100vh !important;
}

a.link-project h3, a.link-project h4{
    color: black !important;
    text-decoration: none !important;
}
a.link-project h3:hover, a.link-project h4:hover{
    color: black !important;
    text-decoration: none !important;
}