{% include 'partials/header.twig' %}

<div class="container main" >

    <div class="row">
        <div class="col-sm primary">
        Hello
        </div>
        <div class="col-sm secondary">

            <div class="container text">
                <div class="row text_up">I’m a Paris based digital and interactive designer driven by problem solving and interactivity.</div>
                <div class="row text_down">I have detailed below the most cost effective forms of internet marketing to advertising your business using your company website. HTPcompany.com provides marketing, Internet advertising, search engine optimization and sales consulting for businesses, web site promotion and lead generation.</div>    
            </div>
            <div class="container">
                <div class="row col_title">Experience :</div>
                <div class="row">
                    <div class="col-sm">
                        <div class="col_content row">
                            <span>2018</span>
                            <span class="sub_span">school project</span>   
                        </div>
                        <div class="col_content row">
                            <span>2019</span>
                            <span class="sub_span">school project</span>
                        </div>
                        <div class="col_content row">
                            <span>2019</span>
                            <span class="sub_span">portfolio</span>
                        </div>
                        <div class="col_content row">
                            <span>2019</span>
                            <span class="sub_span">portfolio</span>
                        </div>
                        <div class="col_content row">
                            <span>2019</span>
                            <span class="sub_span">portfolio</span>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="col_content row">
                            <span>plant hero</span>
                            <span class="sub_span">UI/UX Designer</span>   
                        </div>
                        <div class="col_content row">
                            <span>revol snax</span>
                            <span class="sub_span">UI/UX Designer</span>
                        </div>
                        <div class="col_content row">
                            <span>Francois-Xavier Manceau Portfolio</span>
                            <span class="sub_span">UI/UX Designer</span>
                        </div>
                        <div class="col_content row">
                            <span>Théa Dos Santos Portfolio</span>
                            <span class="sub_span">UI/UX Designer</span>
                        </div>
                        <div class="col_content row">
                            <span>Maxime Bergerard Portfolio</span>
                            <span class="sub_span">UI/UX Designer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row col_title">Find me here :</div>
                <div class="row">
                    <div class="col-sm">
                        <div class="col_content row">
                            <span>dribbble</span>
                            <span class="sub_span">@Alban</span>   
                        </div>
                        <div class="col_content row">
                            <span>linkedin</span>
                            <span class="sub_span">Alban Delachaume</span>
                        </div>
                       
                    </div>
                    <div class="col-sm">
                        <div class="col_content row">
                            <span>behance</span>
                            <span class="sub_span">@albandelachaume</span>   
                        </div>
                        <div class="col_content row">
                            <span>twitter</span>
                            <span class="sub_span">@AlbanDelachaume</span>
                        </div>
                    
                    </div>
                </div>
            </div>




        </div>
    </div>

</div>



{% include 'partials/footer.twig' %}