{% include './partials/header.twig' %}
<div class="custom-home-first ">
  <div class="text-center align-self-center">
    <h1>Alban Delachaume</h1>
    <h2>French Designer</h2>
  </div>
  <div class="text-center align-self-bottom">
    <span class="text-uppercase ">scroll to discover</span>
  </div>
</div>
<div class="container">

  <div class="row">
    <div class="col ">
      <img src="" alt="">
      <h2></h2>
      <h3></h3>
    </div>
    <div class="col">
    
    </div>
  </div>

</div>
{% include './partials/footer.twig' %}